[submodule "PQDs_SignalsGenerator_DatabaseCreator"]
	path = PQDs_SignalsGenerator_DatabaseCreator
	url = https://github.com/chachkes247/PQDs_SignalsGenerator_DatabaseCreator.git
[submodule "PQDs-CNN-Classifier"]
	path = PQDs-CNN-Classifier
	url = https://github.com/chachkes247/PQDs-CNN-Classifier.git
[submodule "PQDs-LSTM-Classifier"]
	path = PQDs-LSTM-Classifier
	url = https://github.com/rmhalb/PQDs-LSTM-Classifier.git
[submodule "PQDs-CNN-MATLAB-Classifier"]
	path = PQDs-CNN-MATLAB-Classifier
	url = https://github.com/rmhalb/PQDs-CNN-MATLAB-Classifier.git
